/* Styles for job-dashboard.component.css */
.job-dashboard {
    margin: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  .navbar-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .job-list {
    margin-top: 20px;
  }
  
  .job-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .job-list ul {
    list-style: none;
    padding: 0;
  }
  
  .job-list li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  .job-list h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .job-list p {
    margin: 0;
  }
  