<!-- Job Dashboard -->
<div class="job-dashboard">
    <!-- Navigation Bar -->
    <app-navbar *ngIf="showNavbar"></app-navbar>
    <!-- Your component content here -->
    
    
    <!-- Job List -->
    <div class="job-list">
      <h2>{{ title }}</h2>
      <p>Total Jobs: {{ count }}</p>
      <ul>
        <li *ngFor="let job of jobs">
          <h3>{{ job.title }}</h3>
          <p>{{ job.description }}</p>
          <p>{{ job.recruiterName }}</p>
          <p>{{ job.body }}</p>
          <p>{{ job.pay }}</p>
          <p>{{ job.type }}</p>
          <!-- Add other job details you want to display -->
          <button class="btn">Apply</button>
        </li>
      </ul>
    </div>
  </div>
  