.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
  }
  .navbar-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  