/* profile.component.css */

.company-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  
.company-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(70% - 20px); /* Adjust the width value here */
    box-sizing: border-box;
  }
  
  
  .company-card h3 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .company-card p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
  }
  
  .company-card .btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  